@charset "UTF-8";

/* 共通 */

html {
    font-size: 100%;
}

body {
    font-family: "Hachi Maru Pop", cursive;
    line-height: 1.6;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* レイアウト */
.align-center {
    text-align: center;
}

/* ヘッダー */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.page-title {
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
}

header a {
    color: #fff;
}

.main-nav {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
}

/* セクション */
section {
    padding: 20px;
}

section h2 {
    font-size: 2.5rem;
}

section p {
    font-size: 1.6rem;
}

/* フッター */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* フォント */
.hachi-maru-pop-regular {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
}

.yomogi-regular {
    font-family: "Yomogi", cursive;
    font-weight: 400;
    font-style: normal;
}
